<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">

            <!-- Bonus mission complete: Modify the view template to keep the previous search field selected
            when displaying results -->
                
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key} == ${col}" />
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" th:value="${term}" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <!-- TODO_Completed: #2 - Loop over jobs map to display all job fields -->
    <div th:if="${jobs} and ${jobs.size()}">
        <h3 th:text="${#strings.capitalizeWords(title)} + ' for search term ' + ${term} + ' (' +${jobs.size() + ' results'} + ')'"></h3>

        <div th:each="job : ${jobs}">
            <table class="job-listing">
                <tr th:each="item : ${job.entrySet()}">

                    <!-- Bonus mission complete: Capitalize field names -->

                    <td th:text="${#strings.capitalizeWords(item.getKey())}"></td>

                    <!-- Bonus mission complete: Make each value (except name) hyperlinked to the listing of all jobs with that value -->

                    <td th:unless="${item.key.equals('name')}">
                        <a  th:href="@{/list/jobs(column=${item.key},value=${item.value})}"
                            th:text="${item.value}">
                        </a>
                    </td>
                    <td th:if="${item.key.equals('name')}" th:text="${item.value}"></td>
                </tr>
            </table>

            <hr />
        </div>
    </div>

</div>

</body>
</html>